<%= form_with(model: @users_cities) do |form| %>
  <div class="mb-3">
    <div class="field col col-md-6">
      <%= form.label :name %>
      <%= form.text_field :name, :required => true ,class:"form-control"%>
    </div>
  </div>


  <div class="mb-3">
    <div class="field col col-md-6">
      <%= form.label :country %>
      <%= form.text_field :country ,class:"form-control"%>
    </div>
  </div>


  <div class="mb-3">
    <div class="actions col col-md-6">
      <%= form.submit %>
    </div>
  </div>
<% end %>
